{
  "openapi": "3.0.3",
  "info": {
    "title": "JustWavePlayzone API",
    "version": "1.0.0",
    "description": "Generated API reference for mobile and system integrations."
  },
  "servers": [
    {
      "url": "https://simbaa.zynapte.in"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Mobile token authentication endpoints."
    },
    {
      "name": "Customer Auth",
      "description": "Customer signup and OTP login endpoints."
    },
    {
      "name": "Parent",
      "description": "Authenticated parent profile endpoints."
    },
    {
      "name": "Children",
      "description": "Authenticated child profile endpoints."
    },
    {
      "name": "Booking Catalog",
      "description": "Booking discovery and availability endpoints."
    },
    {
      "name": "Bookings",
      "description": "Booking creation, update, guests, and customisation endpoints."
    },
    {
      "name": "Entry Exit",
      "description": "Entry pass, live occupancy, billing, and guardian verification endpoints."
    },
    {
      "name": "Restaurant Ops - Tables",
      "description": "Restaurant table and table status endpoints."
    },
    {
      "name": "Restaurant Ops - Menu",
      "description": "Restaurant menu item and category endpoints."
    },
    {
      "name": "Restaurant Ops - Ordering",
      "description": "Food ordering and active order endpoints."
    },
    {
      "name": "Restaurant Ops - Kitchen",
      "description": "KOT queue and kitchen dashboard endpoints."
    },
    {
      "name": "Restaurant Ops - Display Board",
      "description": "Customer-facing display board endpoints."
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Token"
      }
    },
    "schemas": {
      "ApiMessage": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Operation completed successfully."
          }
        }
      },
      "BookingPayment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "booking_id": {
            "type": "string",
            "format": "uuid"
          },
          "provider": {
            "type": "string",
            "example": "razorpay"
          },
          "payment_type": {
            "type": "string",
            "enum": [
              "full",
              "deposit",
              "balance"
            ],
            "example": "full"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "paid",
              "failed"
            ],
            "example": "pending"
          },
          "currency": {
            "type": "string",
            "example": "INR"
          },
          "amount": {
            "type": "number",
            "example": 82600
          },
          "razorpay_order_id": {
            "type": "string",
            "nullable": true,
            "example": "order_NX1234567890AB"
          },
          "razorpay_payment_id": {
            "type": "string",
            "nullable": true,
            "example": "pay_NX1234567890AB"
          },
          "paid_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "BookingRazorpayOrderResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Razorpay order created successfully."
          },
          "data": {
            "type": "object",
            "properties": {
              "key": {
                "type": "string",
                "example": "rzp_test_xxxxxxxxxxxxxx"
              },
              "amount": {
                "type": "integer",
                "example": 8260000,
                "description": "Amount in currency subunits."
              },
              "currency": {
                "type": "string",
                "example": "INR"
              },
              "order_id": {
                "type": "string",
                "example": "order_NX1234567890AB"
              },
              "name": {
                "type": "string",
                "example": "Starter"
              },
              "description": {
                "type": "string",
                "example": "Booking payment"
              },
              "prefill": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "nullable": true,
                    "example": "Gaurav Kumar"
                  },
                  "email": {
                    "type": "string",
                    "nullable": true,
                    "example": "gaurav@example.com"
                  },
                  "contact": {
                    "type": "string",
                    "nullable": true,
                    "example": "+919876543210"
                  }
                }
              },
              "theme": {
                "type": "object",
                "properties": {
                  "color": {
                    "type": "string",
                    "example": "#0891b2"
                  }
                }
              }
            }
          },
          "payment": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "booking_id": {
                "type": "string",
                "format": "uuid"
              },
              "provider": {
                "type": "string",
                "example": "razorpay"
              },
              "payment_type": {
                "type": "string",
                "enum": [
                  "full",
                  "deposit",
                  "balance"
                ],
                "example": "full"
              },
              "status": {
                "type": "string",
                "enum": [
                  "pending",
                  "paid",
                  "failed"
                ],
                "example": "pending"
              },
              "currency": {
                "type": "string",
                "example": "INR"
              },
              "amount": {
                "type": "number",
                "example": 82600
              },
              "razorpay_order_id": {
                "type": "string",
                "nullable": true,
                "example": "order_NX1234567890AB"
              },
              "razorpay_payment_id": {
                "type": "string",
                "nullable": true,
                "example": "pay_NX1234567890AB"
              },
              "paid_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              }
            }
          }
        },
        "example": {
          "message": "Razorpay order created successfully.",
          "data": {
            "key": "rzp_test_xxxxxxxxxxxxxx",
            "amount": 8260000,
            "currency": "INR",
            "order_id": "order_NX1234567890AB",
            "name": "Starter",
            "description": "Booking payment",
            "prefill": {
              "name": "Gaurav Kumar",
              "email": "gaurav@example.com",
              "contact": "+919876543210"
            },
            "theme": {
              "color": "#0891b2"
            }
          },
          "payment": {
            "id": "550e8400-e29b-41d4-a716-446655440099",
            "booking_id": "550e8400-e29b-41d4-a716-446655440010",
            "provider": "razorpay",
            "payment_type": "full",
            "status": "pending",
            "currency": "INR",
            "amount": "82600.00",
            "razorpay_order_id": "order_NX1234567890AB",
            "razorpay_payment_id": null,
            "paid_at": null
          }
        }
      },
      "BookingRazorpayVerifyRequest": {
        "type": "object",
        "required": [
          "razorpay_order_id",
          "razorpay_payment_id",
          "razorpay_signature"
        ],
        "additionalProperties": false,
        "properties": {
          "razorpay_order_id": {
            "type": "string",
            "example": "order_NX1234567890AB"
          },
          "razorpay_payment_id": {
            "type": "string",
            "example": "pay_NX1234567890AB"
          },
          "razorpay_signature": {
            "type": "string",
            "example": "9ef4dffbfd84f1318f6739a3ce19f9d85851857ae648f114332d8401e0949a3d"
          }
        }
      },
      "BookingRazorpayVerifyResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Payment verified and booking confirmed successfully."
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "status": {
                "type": "string",
                "example": "confirmed"
              },
              "deposit_status": {
                "type": "string",
                "example": "paid"
              },
              "amount_paid": {
                "type": "number",
                "example": 82600
              },
              "balance_due": {
                "type": "number",
                "example": 0
              }
            }
          },
          "payment": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "booking_id": {
                "type": "string",
                "format": "uuid"
              },
              "provider": {
                "type": "string",
                "example": "razorpay"
              },
              "payment_type": {
                "type": "string",
                "enum": [
                  "full",
                  "deposit",
                  "balance"
                ],
                "example": "full"
              },
              "status": {
                "type": "string",
                "enum": [
                  "pending",
                  "paid",
                  "failed"
                ],
                "example": "pending"
              },
              "currency": {
                "type": "string",
                "example": "INR"
              },
              "amount": {
                "type": "number",
                "example": 82600
              },
              "razorpay_order_id": {
                "type": "string",
                "nullable": true,
                "example": "order_NX1234567890AB"
              },
              "razorpay_payment_id": {
                "type": "string",
                "nullable": true,
                "example": "pay_NX1234567890AB"
              },
              "paid_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              }
            }
          },
          "calculation_breakdown": {
            "type": "object",
            "properties": {
              "adult_pax_count": {
                "type": "integer",
                "example": 2
              },
              "child_pax_count": {
                "type": "integer",
                "example": 3
              },
              "adult_buffet_unit_price": {
                "type": "number",
                "example": 700
              },
              "child_buffet_unit_price": {
                "type": "number",
                "example": 400
              },
              "adult_buffet_total": {
                "type": "number",
                "example": 1400
              },
              "child_buffet_total": {
                "type": "number",
                "example": 1200
              },
              "buffet_subtotal": {
                "type": "number",
                "example": 2600
              },
              "base_amount": {
                "type": "number",
                "example": 2600
              },
              "customisation_amount": {
                "type": "number",
                "example": 1500
              },
              "subtotal": {
                "type": "number",
                "example": 4100
              },
              "gst_rate": {
                "type": "number",
                "example": 0.18
              },
              "gst_amount": {
                "type": "number",
                "example": 738
              },
              "overtime_amount": {
                "type": "number",
                "example": 0
              },
              "discount_amount": {
                "type": "number",
                "example": 0
              },
              "total_amount": {
                "type": "number",
                "example": 4838
              },
              "amount_paid": {
                "type": "number",
                "example": 0
              },
              "balance_due": {
                "type": "number",
                "example": 4838
              }
            }
          }
        },
        "example": {
          "message": "Payment verified and booking confirmed successfully.",
          "data": {
            "id": "550e8400-e29b-41d4-a716-446655440010",
            "status": "confirmed",
            "deposit_status": "paid",
            "amount_paid": "82600.00",
            "balance_due": "0.00"
          },
          "payment": {
            "id": "550e8400-e29b-41d4-a716-446655440099",
            "booking_id": "550e8400-e29b-41d4-a716-446655440010",
            "provider": "razorpay",
            "payment_type": "full",
            "status": "paid",
            "currency": "INR",
            "amount": "82600.00",
            "razorpay_order_id": "order_NX1234567890AB",
            "razorpay_payment_id": "pay_NX1234567890AB",
            "paid_at": "2026-05-07T09:30:00.000000Z"
          }
        }
      },
      "ChildProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "parent_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "dob": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "age": {
            "type": "integer"
          },
          "gender": {
            "type": "string",
            "nullable": true
          },
          "photo": {
            "type": "string",
            "nullable": true
          },
          "school": {
            "type": "string",
            "nullable": true
          },
          "medical_notes": {
            "type": "string",
            "nullable": true
          },
          "dietary_restrictions": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "EntryExitContact": {
        "type": "object",
        "properties": {
          "record_type": {
            "type": "string",
            "example": "parent"
          },
          "customer": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "name": {
                "type": "string"
              },
              "phone": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "parent": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "name": {
                "type": "string"
              },
              "phone": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "children": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string"
                },
                "age": {
                  "type": "integer"
                }
              }
            }
          },
          "active_sessions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "child_id": {
                  "type": "string",
                  "format": "uuid",
                  "nullable": true
                },
                "child_name": {
                  "type": "string",
                  "nullable": true
                },
                "entry_time": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                },
                "booked_exit_time": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                }
              }
            }
          }
        }
      },
      "EntryExitLog": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "location_id": {
            "type": "string",
            "format": "uuid"
          },
          "location_name": {
            "type": "string",
            "nullable": true
          },
          "customer_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "customer_name": {
            "type": "string",
            "nullable": true
          },
          "parent_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "parent_name": {
            "type": "string",
            "nullable": true
          },
          "child_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "child_name": {
            "type": "string",
            "nullable": true
          },
          "booking_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "entry_type": {
            "type": "string",
            "nullable": true
          },
          "pass_lifecycle_status": {
            "type": "string",
            "enum": [
              "payment_pending",
              "issued_not_scanned",
              "claimed_inside",
              "used_checked_out",
              "expired"
            ],
            "example": "issued_not_scanned"
          },
          "pass_lifecycle_label": {
            "type": "string",
            "example": "Issued / Not scanned"
          },
          "entry_time": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "booked_exit_time": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "actual_exit_time": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "guardian_verification_mode": {
            "type": "string",
            "nullable": true
          },
          "guardian_verified_by": {
            "type": "string",
            "nullable": true
          },
          "expected_duration_minutes": {
            "type": "integer",
            "nullable": true
          },
          "pass_price": {
            "type": "number"
          },
          "bill_base_amount": {
            "type": "number"
          },
          "bill_overtime_amount": {
            "type": "number"
          },
          "bill_total_amount": {
            "type": "number"
          },
          "payment_status": {
            "type": "string",
            "enum": [
              "pending",
              "paid"
            ]
          },
          "payment_mode": {
            "type": "string",
            "nullable": true
          },
          "razorpay_order_id": {
            "type": "string",
            "nullable": true,
            "example": "order_NX1234567890AB"
          },
          "razorpay_payment_id": {
            "type": "string",
            "nullable": true,
            "example": "pay_NX1234567890AB"
          },
          "razorpay_signature": {
            "type": "string",
            "nullable": true
          },
          "paid_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "issued_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "print_count": {
            "type": "integer"
          },
          "overtime_minutes": {
            "type": "number"
          },
          "overtime_charge": {
            "type": "number"
          },
          "overtime_paid": {
            "type": "boolean"
          },
          "overtime_payment_mode": {
            "type": "string",
            "nullable": true
          },
          "overtime_razorpay_order_id": {
            "type": "string",
            "nullable": true,
            "example": "order_OT1234567890AB"
          },
          "overtime_razorpay_payment_id": {
            "type": "string",
            "nullable": true,
            "example": "pay_OT1234567890AB"
          },
          "overtime_razorpay_signature": {
            "type": "string",
            "nullable": true
          },
          "overtime_paid_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "overtime_amount_paid": {
            "type": "number"
          },
          "pass_expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "EntryExitOvertimeRazorpayVerifyResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Payment verified. Overtime bill settled. QR can now be scanned at the gate to complete checkout."
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "location_id": {
                "type": "string",
                "format": "uuid"
              },
              "location_name": {
                "type": "string",
                "nullable": true
              },
              "customer_id": {
                "type": "string",
                "format": "uuid",
                "nullable": true
              },
              "customer_name": {
                "type": "string",
                "nullable": true
              },
              "parent_id": {
                "type": "string",
                "format": "uuid",
                "nullable": true
              },
              "parent_name": {
                "type": "string",
                "nullable": true
              },
              "child_id": {
                "type": "string",
                "format": "uuid",
                "nullable": true
              },
              "child_name": {
                "type": "string",
                "nullable": true
              },
              "booking_id": {
                "type": "string",
                "format": "uuid",
                "nullable": true
              },
              "entry_type": {
                "type": "string",
                "nullable": true
              },
              "pass_lifecycle_status": {
                "type": "string",
                "enum": [
                  "payment_pending",
                  "issued_not_scanned",
                  "claimed_inside",
                  "used_checked_out",
                  "expired"
                ],
                "example": "issued_not_scanned"
              },
              "pass_lifecycle_label": {
                "type": "string",
                "example": "Issued / Not scanned"
              },
              "entry_time": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "booked_exit_time": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "actual_exit_time": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "guardian_verification_mode": {
                "type": "string",
                "nullable": true
              },
              "guardian_verified_by": {
                "type": "string",
                "nullable": true
              },
              "expected_duration_minutes": {
                "type": "integer",
                "nullable": true
              },
              "pass_price": {
                "type": "number"
              },
              "bill_base_amount": {
                "type": "number"
              },
              "bill_overtime_amount": {
                "type": "number"
              },
              "bill_total_amount": {
                "type": "number"
              },
              "payment_status": {
                "type": "string",
                "enum": [
                  "pending",
                  "paid"
                ]
              },
              "payment_mode": {
                "type": "string",
                "nullable": true
              },
              "razorpay_order_id": {
                "type": "string",
                "nullable": true,
                "example": "order_NX1234567890AB"
              },
              "razorpay_payment_id": {
                "type": "string",
                "nullable": true,
                "example": "pay_NX1234567890AB"
              },
              "razorpay_signature": {
                "type": "string",
                "nullable": true
              },
              "paid_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "issued_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "print_count": {
                "type": "integer"
              },
              "overtime_minutes": {
                "type": "number"
              },
              "overtime_charge": {
                "type": "number"
              },
              "overtime_paid": {
                "type": "boolean"
              },
              "overtime_payment_mode": {
                "type": "string",
                "nullable": true
              },
              "overtime_razorpay_order_id": {
                "type": "string",
                "nullable": true,
                "example": "order_OT1234567890AB"
              },
              "overtime_razorpay_payment_id": {
                "type": "string",
                "nullable": true,
                "example": "pay_OT1234567890AB"
              },
              "overtime_razorpay_signature": {
                "type": "string",
                "nullable": true
              },
              "overtime_paid_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "overtime_amount_paid": {
                "type": "number"
              },
              "pass_expires_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "updated_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "chargeable_minutes": {
                "type": "number",
                "example": 30
              },
              "grace_minutes": {
                "type": "integer",
                "example": 10
              },
              "can_retry_exit": {
                "type": "boolean",
                "example": true
              },
              "can_scan_exit": {
                "type": "boolean",
                "example": true
              }
            }
          },
          "payment": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "nullable": true
              },
              "ids": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "provider": {
                "type": "string",
                "example": "razorpay"
              },
              "payment_type": {
                "type": "string",
                "enum": [
                  "entry_pass",
                  "overtime"
                ],
                "example": "overtime"
              },
              "status": {
                "type": "string",
                "example": "paid"
              },
              "currency": {
                "type": "string",
                "example": "INR"
              },
              "amount": {
                "type": "number",
                "example": 500
              },
              "razorpay_order_id": {
                "type": "string",
                "nullable": true,
                "example": "order_NX1234567890AB"
              },
              "razorpay_payment_id": {
                "type": "string",
                "nullable": true,
                "example": "pay_NX1234567890AB"
              },
              "chargeable_minutes": {
                "type": "number",
                "nullable": true,
                "example": 30
              },
              "grace_minutes": {
                "type": "integer",
                "nullable": true,
                "example": 10
              }
            }
          }
        }
      },
      "EntryExitPassRazorpayVerifyResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Payment verified. Passes issued and ready to print."
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "location_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "location_name": {
                  "type": "string",
                  "nullable": true
                },
                "customer_id": {
                  "type": "string",
                  "format": "uuid",
                  "nullable": true
                },
                "customer_name": {
                  "type": "string",
                  "nullable": true
                },
                "parent_id": {
                  "type": "string",
                  "format": "uuid",
                  "nullable": true
                },
                "parent_name": {
                  "type": "string",
                  "nullable": true
                },
                "child_id": {
                  "type": "string",
                  "format": "uuid",
                  "nullable": true
                },
                "child_name": {
                  "type": "string",
                  "nullable": true
                },
                "booking_id": {
                  "type": "string",
                  "format": "uuid",
                  "nullable": true
                },
                "entry_type": {
                  "type": "string",
                  "nullable": true
                },
                "pass_lifecycle_status": {
                  "type": "string",
                  "enum": [
                    "payment_pending",
                    "issued_not_scanned",
                    "claimed_inside",
                    "used_checked_out",
                    "expired"
                  ],
                  "example": "issued_not_scanned"
                },
                "pass_lifecycle_label": {
                  "type": "string",
                  "example": "Issued / Not scanned"
                },
                "entry_time": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                },
                "booked_exit_time": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                },
                "actual_exit_time": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                },
                "guardian_verification_mode": {
                  "type": "string",
                  "nullable": true
                },
                "guardian_verified_by": {
                  "type": "string",
                  "nullable": true
                },
                "expected_duration_minutes": {
                  "type": "integer",
                  "nullable": true
                },
                "pass_price": {
                  "type": "number"
                },
                "bill_base_amount": {
                  "type": "number"
                },
                "bill_overtime_amount": {
                  "type": "number"
                },
                "bill_total_amount": {
                  "type": "number"
                },
                "payment_status": {
                  "type": "string",
                  "enum": [
                    "pending",
                    "paid"
                  ]
                },
                "payment_mode": {
                  "type": "string",
                  "nullable": true
                },
                "razorpay_order_id": {
                  "type": "string",
                  "nullable": true,
                  "example": "order_NX1234567890AB"
                },
                "razorpay_payment_id": {
                  "type": "string",
                  "nullable": true,
                  "example": "pay_NX1234567890AB"
                },
                "razorpay_signature": {
                  "type": "string",
                  "nullable": true
                },
                "paid_at": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                },
                "issued_at": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                },
                "print_count": {
                  "type": "integer"
                },
                "overtime_minutes": {
                  "type": "number"
                },
                "overtime_charge": {
                  "type": "number"
                },
                "overtime_paid": {
                  "type": "boolean"
                },
                "overtime_payment_mode": {
                  "type": "string",
                  "nullable": true
                },
                "overtime_razorpay_order_id": {
                  "type": "string",
                  "nullable": true,
                  "example": "order_OT1234567890AB"
                },
                "overtime_razorpay_payment_id": {
                  "type": "string",
                  "nullable": true,
                  "example": "pay_OT1234567890AB"
                },
                "overtime_razorpay_signature": {
                  "type": "string",
                  "nullable": true
                },
                "overtime_paid_at": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                },
                "overtime_amount_paid": {
                  "type": "number"
                },
                "pass_expires_at": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                }
              }
            }
          },
          "payment": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "nullable": true
              },
              "ids": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "provider": {
                "type": "string",
                "example": "razorpay"
              },
              "payment_type": {
                "type": "string",
                "enum": [
                  "entry_pass",
                  "overtime"
                ],
                "example": "entry_pass"
              },
              "status": {
                "type": "string",
                "example": "paid"
              },
              "currency": {
                "type": "string",
                "example": "INR"
              },
              "amount": {
                "type": "number",
                "example": 500
              },
              "razorpay_order_id": {
                "type": "string",
                "nullable": true,
                "example": "order_NX1234567890AB"
              },
              "razorpay_payment_id": {
                "type": "string",
                "nullable": true,
                "example": "pay_NX1234567890AB"
              },
              "chargeable_minutes": {
                "type": "number",
                "nullable": true,
                "example": 30
              },
              "grace_minutes": {
                "type": "integer",
                "nullable": true,
                "example": 10
              }
            }
          }
        }
      },
      "EntryExitRazorpayOrderResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Razorpay order created successfully."
          },
          "data": {
            "type": "object",
            "properties": {
              "key": {
                "type": "string",
                "example": "rzp_test_xxxxxxxxxxxxxx"
              },
              "amount": {
                "type": "integer",
                "example": 50000,
                "description": "Amount in currency subunits."
              },
              "currency": {
                "type": "string",
                "example": "INR"
              },
              "order_id": {
                "type": "string",
                "example": "order_NX1234567890AB"
              },
              "name": {
                "type": "string",
                "example": "Simbaa Playzone"
              },
              "description": {
                "type": "string",
                "example": "Entry pass payment"
              },
              "prefill": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "nullable": true,
                    "example": "Gaurav Kumar"
                  },
                  "email": {
                    "type": "string",
                    "nullable": true,
                    "example": "gaurav@example.com"
                  },
                  "contact": {
                    "type": "string",
                    "nullable": true,
                    "example": "+919876543210"
                  }
                }
              },
              "theme": {
                "type": "object",
                "properties": {
                  "color": {
                    "type": "string",
                    "example": "#0891b2"
                  }
                }
              }
            }
          },
          "payment": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "nullable": true
              },
              "ids": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "provider": {
                "type": "string",
                "example": "razorpay"
              },
              "payment_type": {
                "type": "string",
                "enum": [
                  "entry_pass",
                  "overtime"
                ],
                "example": "entry_pass"
              },
              "status": {
                "type": "string",
                "example": "pending"
              },
              "currency": {
                "type": "string",
                "example": "INR"
              },
              "amount": {
                "type": "number",
                "example": 500
              },
              "razorpay_order_id": {
                "type": "string",
                "nullable": true,
                "example": "order_NX1234567890AB"
              },
              "razorpay_payment_id": {
                "type": "string",
                "nullable": true,
                "example": "pay_NX1234567890AB"
              },
              "chargeable_minutes": {
                "type": "number",
                "nullable": true,
                "example": 30
              },
              "grace_minutes": {
                "type": "integer",
                "nullable": true,
                "example": 10
              }
            }
          }
        }
      },
      "EntryPassDurationPrice": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "price_type": {
            "type": "string",
            "enum": [
              "standard",
              "overtime"
            ]
          },
          "duration_minutes": {
            "type": "integer",
            "example": 30
          },
          "duration_label": {
            "type": "string",
            "example": "30 mins (0.5 hr)"
          },
          "price": {
            "type": "number",
            "example": 250
          },
          "is_active": {
            "type": "boolean"
          },
          "sort_order": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "PaginatedEntryExitLogs": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EntryExitLog"
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "current_page": {
                "type": "integer"
              },
              "from": {
                "type": "integer",
                "nullable": true
              },
              "last_page": {
                "type": "integer"
              },
              "per_page": {
                "type": "integer"
              },
              "to": {
                "type": "integer",
                "nullable": true
              },
              "total": {
                "type": "integer"
              }
            }
          }
        }
      },
      "PaginatedRestaurantOrders": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RestaurantOrder"
            }
          },
          "links": {
            "type": "object",
            "properties": {
              "first": {
                "type": "string",
                "nullable": true
              },
              "last": {
                "type": "string",
                "nullable": true
              },
              "prev": {
                "type": "string",
                "nullable": true
              },
              "next": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "current_page": {
                "type": "integer"
              },
              "from": {
                "type": "integer",
                "nullable": true
              },
              "last_page": {
                "type": "integer"
              },
              "per_page": {
                "type": "integer"
              },
              "to": {
                "type": "integer",
                "nullable": true
              },
              "total": {
                "type": "integer"
              }
            }
          }
        }
      },
      "ParentProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "customer_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "name": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true
          },
          "address": {
            "type": "string",
            "nullable": true
          },
          "emergency_contact_name": {
            "type": "string"
          },
          "emergency_contact_phone": {
            "type": "string"
          },
          "customer": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "nullable": true
              },
              "name": {
                "type": "string",
                "nullable": true
              },
              "phone": {
                "type": "string",
                "nullable": true
              },
              "whatsapp_number": {
                "type": "string",
                "nullable": true
              },
              "email": {
                "type": "string",
                "format": "email",
                "nullable": true
              }
            }
          },
          "children": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "parent_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string"
                },
                "dob": {
                  "type": "string",
                  "format": "date",
                  "nullable": true
                },
                "age": {
                  "type": "integer"
                },
                "gender": {
                  "type": "string",
                  "nullable": true
                },
                "photo": {
                  "type": "string",
                  "nullable": true
                },
                "school": {
                  "type": "string",
                  "nullable": true
                },
                "medical_notes": {
                  "type": "string",
                  "nullable": true
                },
                "dietary_restrictions": {
                  "type": "string",
                  "nullable": true
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                }
              }
            }
          },
          "rewards_profile": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "nullable": true
              },
              "waiver_signed": {
                "type": "boolean"
              },
              "waiver_signed_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "loyalty_points": {
                "type": "integer"
              },
              "loyalty_tier": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "PatchBillingUpdateRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "location_id": {
            "type": "string"
          },
          "booking_id": {
            "type": "string"
          },
          "parent_id": {
            "type": "string"
          },
          "transaction_type": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "gst_amount": {
            "type": "number"
          },
          "payment_mode": {
            "type": "string"
          },
          "utr_reference": {
            "type": "string"
          },
          "hsn_code": {
            "type": "string"
          },
          "invoice_number": {
            "type": "string"
          },
          "invoice_url": {
            "type": "string"
          },
          "staff_id": {
            "type": "string"
          },
          "transacted_at": {
            "type": "string",
            "format": "date-time"
          },
          "ledger_entry_id": {
            "type": "string"
          }
        }
      },
      "PatchBookingCustomisationsUpdateRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "type": {
            "type": "string"
          },
          "item_name": {
            "type": "string",
            "maxLength": 255
          },
          "quantity": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200
          },
          "unit_price": {
            "type": "number",
            "minimum": 0
          },
          "addons_total": {
            "type": "number",
            "nullable": true,
            "minimum": 0
          },
          "food_total": {
            "type": "number",
            "nullable": true,
            "minimum": 0
          },
          "cake_total": {
            "type": "number",
            "nullable": true,
            "minimum": 0
          },
          "duration_minutes": {
            "type": "integer",
            "nullable": true,
            "minimum": 0,
            "maximum": 600
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "photo_url": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "maxLength": 1024
          }
        },
        "required": [
          "type",
          "item_name",
          "quantity",
          "unit_price"
        ]
      },
      "PatchBookingGuestsRsvpRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "rsvp_status": {
            "type": "string"
          }
        },
        "required": [
          "rsvp_status"
        ]
      },
      "PatchBookingGuestsUpdateRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 255
          },
          "phone": {
            "type": "string",
            "nullable": true,
            "maxLength": 20
          },
          "adult_count": {
            "type": "integer",
            "minimum": 0,
            "maximum": 200
          },
          "child_count": {
            "type": "integer",
            "minimum": 0,
            "maximum": 200
          }
        },
        "required": [
          "name",
          "adult_count",
          "child_count"
        ]
      },
      "PatchBookingUpdateRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "parent_id": {
            "type": "string",
            "nullable": true,
            "format": "uuid"
          },
          "location_id": {
            "type": "string",
            "format": "uuid"
          },
          "package_id": {
            "type": "string",
            "nullable": true,
            "format": "uuid"
          },
          "child_id": {
            "type": "string",
            "nullable": true,
            "format": "uuid"
          },
          "event_date": {
            "type": "string",
            "format": "date"
          },
          "slot_start": {
            "type": "string"
          },
          "slot_end": {
            "type": "string"
          },
          "adult_pax_count": {
            "type": "integer",
            "minimum": 0,
            "maximum": 200
          },
          "child_pax_count": {
            "type": "integer",
            "minimum": 0,
            "maximum": 200
          },
          "pax_count": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200
          },
          "initial_requirements": {
            "type": "string",
            "nullable": true
          },
          "customisations": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "type": {
                  "type": "string"
                },
                "item_name": {
                  "type": "string",
                  "maxLength": 191
                },
                "quantity": {
                  "type": "integer",
                  "minimum": 1
                },
                "unit_price": {
                  "type": "number",
                  "minimum": 0
                },
                "duration_minutes": {
                  "type": "integer",
                  "nullable": true,
                  "minimum": 1
                },
                "notes": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          },
          "guests": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "name": {
                  "type": "string",
                  "maxLength": 191
                },
                "phone": {
                  "type": "string",
                  "maxLength": 20
                },
                "adult_count": {
                  "type": "integer",
                  "nullable": true,
                  "minimum": 0,
                  "maximum": 200
                },
                "child_count": {
                  "type": "integer",
                  "nullable": true,
                  "minimum": 0,
                  "maximum": 200
                }
              }
            }
          }
        },
        "required": [
          "location_id",
          "event_date",
          "slot_start",
          "slot_end",
          "adult_pax_count",
          "child_pax_count",
          "pax_count"
        ]
      },
      "PatchCommunicationUpdateRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "recipient_phone": {
            "type": "string"
          },
          "template_name": {
            "type": "string"
          },
          "trigger_type": {
            "type": "string"
          },
          "reference_id": {
            "type": "string"
          },
          "reference_type": {
            "type": "string"
          },
          "delivery_status": {
            "type": "string"
          },
          "failure_reason": {
            "type": "string"
          },
          "sms_fallback_sent": {
            "type": "boolean"
          },
          "triggered_at": {
            "type": "string",
            "format": "date-time"
          },
          "delivered_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PatchCrmUpdateRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "location_id": {
            "type": "string"
          },
          "contact_name": {
            "type": "string"
          },
          "mobile": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "child_name": {
            "type": "string"
          },
          "child_age": {
            "type": "integer"
          },
          "approx_event_date": {
            "type": "string",
            "format": "date"
          },
          "budget": {
            "type": "number"
          },
          "source": {
            "type": "string"
          },
          "pipeline_stage": {
            "type": "string"
          },
          "assigned_staff_id": {
            "type": "string"
          },
          "estimate_pdf_url": {
            "type": "string"
          },
          "estimate_status": {
            "type": "string"
          },
          "estimate_sent_at": {
            "type": "string",
            "format": "date-time"
          },
          "estimate_expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "converted_booking_id": {
            "type": "string"
          }
        }
      },
      "PatchCustomerParentChildrenUpdateRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 191
          },
          "dob": {
            "type": "string",
            "format": "date"
          },
          "gender": {
            "type": "string"
          },
          "photo": {
            "type": "string",
            "nullable": true,
            "maxLength": 2048
          },
          "school": {
            "type": "string",
            "nullable": true,
            "maxLength": 191
          },
          "medical_notes": {
            "type": "string",
            "nullable": true
          },
          "dietary_restrictions": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "name",
          "dob",
          "gender"
        ]
      },
      "PatchCustomerUpdateRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 191
          },
          "phone": {
            "type": "string",
            "maxLength": 30
          },
          "whatsapp_number": {
            "type": "string",
            "nullable": true,
            "maxLength": 30
          },
          "email": {
            "type": "string",
            "nullable": true,
            "format": "email",
            "maxLength": 191
          }
        },
        "required": [
          "name",
          "phone"
        ]
      },
      "PatchDocumenttemplateUpdateRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string"
          },
          "channel": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "is_active": {
            "type": "boolean"
          }
        }
      },
      "PatchHrpayrollUpdateRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "staff_id": {
            "type": "string"
          },
          "attendance_date": {
            "type": "string",
            "format": "date"
          },
          "check_in": {
            "type": "string",
            "format": "date-time"
          },
          "check_out": {
            "type": "string",
            "format": "date-time"
          },
          "shift_type": {
            "type": "string"
          },
          "overtime_hours": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "marked_by": {
            "type": "string"
          }
        }
      },
      "PatchIdentityaccessUpdateRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "location_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "role": {
            "type": "string"
          },
          "joining_date": {
            "type": "string",
            "format": "date"
          },
          "status": {
            "type": "string"
          },
          "remember_token": {
            "type": "string"
          }
        }
      },
      "PatchInventoryUpdateRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "location_id": {
            "type": "string"
          },
          "sku": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "unit_of_measure": {
            "type": "string"
          },
          "reorder_level": {
            "type": "number"
          },
          "current_stock": {
            "type": "number"
          },
          "cost_price": {
            "type": "number"
          },
          "tax_rate": {
            "type": "number"
          },
          "preferred_vendor_id": {
            "type": "string"
          },
          "is_active": {
            "type": "boolean"
          }
        }
      },
      "PatchLedgerUpdateRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "location_id": {
            "type": "string"
          },
          "entry_date": {
            "type": "string",
            "format": "date"
          },
          "account_head": {
            "type": "string"
          },
          "debit_amount": {
            "type": "number"
          },
          "credit_amount": {
            "type": "number"
          },
          "running_balance": {
            "type": "number"
          },
          "payment_mode": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "reference_type": {
            "type": "string"
          },
          "reference_id": {
            "type": "string"
          },
          "journal_id": {
            "type": "string"
          },
          "created_by": {
            "type": "integer"
          },
          "is_locked": {
            "type": "boolean"
          }
        }
      },
      "PatchMembershiployaltyUpdateRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "parent_id": {
            "type": "string"
          },
          "plan_id": {
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          },
          "sessions_remaining": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "activated_at": {
            "type": "string",
            "format": "date-time"
          },
          "cancelled_at": {
            "type": "string",
            "format": "date-time"
          },
          "ledger_entry_id": {
            "type": "string"
          }
        }
      },
      "PatchRestaurantOpsActiveOrdersItemsCancelRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "order_item_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "quantity": {
                  "type": "integer",
                  "nullable": true,
                  "minimum": 0
                }
              },
              "required": [
                "order_item_id"
              ]
            }
          },
          "reason": {
            "type": "string",
            "maxLength": 1000
          }
        },
        "required": [
          "items",
          "reason"
        ]
      },
      "PatchRestaurantOpsKotQueueUpdateStatusRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "status": {
            "type": "string"
          },
          "remarks": {
            "type": "string",
            "nullable": true,
            "maxLength": 500
          }
        },
        "required": [
          "status"
        ]
      },
      "PatchRestaurantOpsMenuItemsUpdateRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "location_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "maxLength": 255
          },
          "category_id": {
            "type": "string",
            "nullable": true,
            "format": "uuid"
          },
          "new_category": {
            "type": "string",
            "nullable": true,
            "maxLength": 255
          },
          "price": {
            "type": "number",
            "minimum": 0
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "is_available": {
            "type": "boolean",
            "nullable": true
          }
        }
      },
      "PatchRestaurantOpsTableStatusListMarkAvailableRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "payment_method": {
            "type": "string",
            "nullable": true
          },
          "remarks": {
            "type": "string",
            "nullable": true,
            "maxLength": 500
          }
        }
      },
      "PatchRestaurantOpsTablesUpdateRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "location_id": {
            "type": "string",
            "format": "uuid"
          },
          "table_number": {
            "type": "string",
            "maxLength": 50
          },
          "capacity": {
            "type": "integer",
            "minimum": 1,
            "maximum": 50
          },
          "notes": {
            "type": "string",
            "nullable": true,
            "maxLength": 1000
          },
          "status": {
            "type": "string"
          }
        }
      },
      "PatchVendorServicesUpdateRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "service_name": {
            "type": "string",
            "maxLength": 150
          },
          "service_category": {
            "type": "string"
          },
          "service_price": {
            "type": "number",
            "minimum": 0
          },
          "price_unit": {
            "type": "string"
          },
          "unit_type": {
            "type": "string",
            "nullable": true,
            "maxLength": 50
          },
          "service_details": {
            "type": "string",
            "nullable": true,
            "maxLength": 2000
          },
          "service_image": {
            "type": "string",
            "nullable": true,
            "maxLength": 255
          }
        },
        "required": [
          "service_name",
          "service_category",
          "service_price",
          "price_unit"
        ]
      },
      "PatchVendorsUpdateRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "company_name": {
            "type": "string",
            "maxLength": 255
          },
          "contact_person": {
            "type": "string",
            "nullable": true,
            "maxLength": 255
          },
          "mobile": {
            "type": "string",
            "nullable": true,
            "maxLength": 20
          },
          "email": {
            "type": "string",
            "nullable": true,
            "format": "email",
            "maxLength": 255
          },
          "service_category": {
            "type": "string",
            "nullable": true,
            "maxLength": 255
          },
          "gstin": {
            "type": "string",
            "nullable": true,
            "maxLength": 50
          },
          "bank_account": {
            "type": "string",
            "nullable": true,
            "maxLength": 50
          },
          "bank_ifsc": {
            "type": "string",
            "nullable": true,
            "maxLength": 20
          },
          "bank_name": {
            "type": "string",
            "nullable": true,
            "maxLength": 255
          },
          "average_rating": {
            "type": "number",
            "minimum": 0
          },
          "total_events": {
            "type": "integer",
            "minimum": 0
          },
          "status": {
            "type": "string",
            "nullable": true,
            "maxLength": 50
          },
          "onboarded_at": {
            "type": "string",
            "nullable": true,
            "format": "date"
          }
        }
      },
      "PostAuthLoginRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string"
          },
          "device_name": {
            "type": "string",
            "nullable": true,
            "maxLength": 100
          }
        },
        "required": [
          "email",
          "password"
        ]
      },
      "PostBillingStoreRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "location_id": {
            "type": "string"
          },
          "booking_id": {
            "type": "string"
          },
          "parent_id": {
            "type": "string"
          },
          "transaction_type": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "gst_amount": {
            "type": "number"
          },
          "payment_mode": {
            "type": "string"
          },
          "utr_reference": {
            "type": "string"
          },
          "hsn_code": {
            "type": "string"
          },
          "invoice_number": {
            "type": "string"
          },
          "invoice_url": {
            "type": "string"
          },
          "staff_id": {
            "type": "string"
          },
          "transacted_at": {
            "type": "string",
            "format": "date-time"
          },
          "ledger_entry_id": {
            "type": "string"
          }
        }
      },
      "PostBookingConfirmRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "location_id": {
            "type": "string"
          },
          "parent_id": {
            "type": "string"
          },
          "event_date": {
            "type": "string",
            "format": "date"
          },
          "slot_start": {
            "type": "string",
            "format": "date-time"
          },
          "slot_end": {
            "type": "string",
            "format": "date-time"
          },
          "pax_count": {
            "type": "integer"
          },
          "adult_pax_count": {
            "type": "integer"
          },
          "child_pax_count": {
            "type": "integer"
          },
          "base_amount": {
            "type": "number"
          },
          "package_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "deposit_status": {
            "type": "string"
          },
          "overtime_amount": {
            "type": "number"
          },
          "discount_amount": {
            "type": "number"
          },
          "gst_amount": {
            "type": "number"
          },
          "total_amount": {
            "type": "number"
          },
          "amount_paid": {
            "type": "number"
          },
          "balance_due": {
            "type": "number"
          },
          "estimate_pdf_url": {
            "type": "string"
          },
          "estimate_status": {
            "type": "string"
          },
          "initial_requirements": {
            "type": "string"
          },
          "cancellation_reason": {
            "type": "string"
          },
          "cancelled_at": {
            "type": "string",
            "format": "date-time"
          },
          "refund_amount": {
            "type": "number"
          },
          "quote_terms": {
            "type": "string"
          },
          "quote_sent_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_by_staff_id": {
            "type": "string"
          }
        }
      },
      "PostBookingCustomisationsStoreRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "type": {
            "type": "string"
          },
          "item_name": {
            "type": "string",
            "maxLength": 255
          },
          "quantity": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200
          },
          "unit_price": {
            "type": "number",
            "minimum": 0
          },
          "addons_total": {
            "type": "number",
            "nullable": true,
            "minimum": 0
          },
          "food_total": {
            "type": "number",
            "nullable": true,
            "minimum": 0
          },
          "cake_total": {
            "type": "number",
            "nullable": true,
            "minimum": 0
          },
          "duration_minutes": {
            "type": "integer",
            "nullable": true,
            "minimum": 0,
            "maximum": 600
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "photo_url": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "maxLength": 1024
          }
        },
        "required": [
          "type",
          "item_name",
          "quantity",
          "unit_price"
        ]
      },
      "PostBookingGuestsStoreRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 255
          },
          "phone": {
            "type": "string",
            "nullable": true,
            "maxLength": 20
          },
          "adult_count": {
            "type": "integer",
            "minimum": 0,
            "maximum": 200
          },
          "child_count": {
            "type": "integer",
            "minimum": 0,
            "maximum": 200
          }
        },
        "required": [
          "name",
          "adult_count",
          "child_count"
        ]
      },
      "PostBookingRazorpayVerifyRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "razorpay_order_id": {
            "type": "string",
            "maxLength": 255
          },
          "razorpay_payment_id": {
            "type": "string",
            "maxLength": 255
          },
          "razorpay_signature": {
            "type": "string",
            "maxLength": 255
          }
        },
        "required": [
          "razorpay_order_id",
          "razorpay_payment_id",
          "razorpay_signature"
        ]
      },
      "PostBookingStoreRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "parent_id": {
            "type": "string",
            "nullable": true,
            "format": "uuid"
          },
          "location_id": {
            "type": "string",
            "format": "uuid"
          },
          "package_id": {
            "type": "string",
            "nullable": true,
            "format": "uuid"
          },
          "child_id": {
            "type": "string",
            "nullable": true,
            "format": "uuid"
          },
          "event_date": {
            "type": "string",
            "format": "date"
          },
          "slot_start": {
            "type": "string"
          },
          "slot_end": {
            "type": "string"
          },
          "adult_pax_count": {
            "type": "integer",
            "minimum": 0,
            "maximum": 200
          },
          "child_pax_count": {
            "type": "integer",
            "minimum": 0,
            "maximum": 200
          },
          "pax_count": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200
          },
          "initial_requirements": {
            "type": "string",
            "nullable": true
          },
          "customisations": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "type": {
                  "type": "string"
                },
                "item_name": {
                  "type": "string",
                  "maxLength": 191
                },
                "quantity": {
                  "type": "integer",
                  "minimum": 1
                },
                "unit_price": {
                  "type": "number",
                  "minimum": 0
                },
                "duration_minutes": {
                  "type": "integer",
                  "nullable": true,
                  "minimum": 1
                },
                "notes": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          },
          "guests": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "name": {
                  "type": "string",
                  "maxLength": 191
                },
                "phone": {
                  "type": "string",
                  "maxLength": 20
                },
                "adult_count": {
                  "type": "integer",
                  "nullable": true,
                  "minimum": 0,
                  "maximum": 200
                },
                "child_count": {
                  "type": "integer",
                  "nullable": true,
                  "minimum": 0,
                  "maximum": 200
                }
              }
            }
          }
        },
        "required": [
          "location_id",
          "event_date",
          "slot_start",
          "slot_end",
          "adult_pax_count",
          "child_pax_count",
          "pax_count"
        ]
      },
      "PostCommunicationStoreRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "recipient_phone": {
            "type": "string"
          },
          "template_name": {
            "type": "string"
          },
          "trigger_type": {
            "type": "string"
          },
          "reference_id": {
            "type": "string"
          },
          "reference_type": {
            "type": "string"
          },
          "delivery_status": {
            "type": "string"
          },
          "failure_reason": {
            "type": "string"
          },
          "sms_fallback_sent": {
            "type": "boolean"
          },
          "triggered_at": {
            "type": "string",
            "format": "date-time"
          },
          "delivered_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PostCoreLocationsStoreRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 191
          },
          "address": {
            "type": "string"
          },
          "mall": {
            "type": "string",
            "nullable": true,
            "maxLength": 191
          },
          "capacity": {
            "type": "integer",
            "minimum": 1
          },
          "operating_hours": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "gstin": {
            "type": "string",
            "nullable": true
          },
          "manager_staff_id": {
            "type": "string",
            "nullable": true
          },
          "image": {
            "type": "string",
            "nullable": true,
            "maxLength": 3072
          }
        },
        "required": [
          "name",
          "address",
          "capacity",
          "operating_hours"
        ]
      },
      "PostCrmStoreRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "location_id": {
            "type": "string"
          },
          "contact_name": {
            "type": "string"
          },
          "mobile": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "child_name": {
            "type": "string"
          },
          "child_age": {
            "type": "integer"
          },
          "approx_event_date": {
            "type": "string",
            "format": "date"
          },
          "budget": {
            "type": "number"
          },
          "source": {
            "type": "string"
          },
          "pipeline_stage": {
            "type": "string"
          },
          "assigned_staff_id": {
            "type": "string"
          },
          "estimate_pdf_url": {
            "type": "string"
          },
          "estimate_status": {
            "type": "string"
          },
          "estimate_sent_at": {
            "type": "string",
            "format": "date-time"
          },
          "estimate_expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "converted_booking_id": {
            "type": "string"
          }
        }
      },
      "PostCustomerLoginRequestOtpRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "phone": {
            "type": "string",
            "maxLength": 30
          }
        },
        "required": [
          "phone"
        ]
      },
      "PostCustomerLoginStoreRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "phone": {
            "type": "string",
            "maxLength": 30
          },
          "password": {
            "type": "string"
          },
          "device_name": {
            "type": "string",
            "nullable": true,
            "maxLength": 100
          }
        },
        "required": [
          "phone",
          "password"
        ]
      },
      "PostCustomerLoginVerifyOtpRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "phone": {
            "type": "string",
            "maxLength": 30
          },
          "otp": {
            "type": "string"
          },
          "device_name": {
            "type": "string",
            "nullable": true,
            "maxLength": 100
          }
        },
        "required": [
          "phone",
          "otp"
        ]
      },
      "PostCustomerParentChildrenStoreRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 191
          },
          "dob": {
            "type": "string",
            "format": "date"
          },
          "gender": {
            "type": "string"
          },
          "photo": {
            "type": "string",
            "nullable": true,
            "maxLength": 2048
          },
          "school": {
            "type": "string",
            "nullable": true,
            "maxLength": 191
          },
          "medical_notes": {
            "type": "string",
            "nullable": true
          },
          "dietary_restrictions": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "name",
          "dob",
          "gender"
        ]
      },
      "PostCustomerSignupRequestOtpRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "nullable": true,
            "maxLength": 191
          },
          "phone": {
            "type": "string",
            "maxLength": 30
          }
        },
        "required": [
          "phone"
        ]
      },
      "PostCustomerSignupStoreRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "nullable": true,
            "maxLength": 191
          },
          "phone": {
            "type": "string",
            "maxLength": 30
          },
          "email": {
            "type": "string",
            "nullable": true,
            "format": "email",
            "maxLength": 191
          },
          "emergency_contact_name": {
            "type": "string",
            "nullable": true,
            "maxLength": 191
          },
          "emergency_contact_phone": {
            "type": "string",
            "nullable": true,
            "maxLength": 30
          },
          "address": {
            "type": "string",
            "nullable": true
          },
          "otp": {
            "type": "string"
          },
          "password": {
            "type": "string",
            "nullable": true,
            "minLength": 8
          }
        },
        "required": [
          "phone",
          "otp"
        ]
      },
      "PostDocumenttemplateStoreRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string"
          },
          "channel": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "is_active": {
            "type": "boolean"
          }
        }
      },
      "PostEmailConfigStoreRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "provider": {
            "type": "string"
          },
          "host": {
            "type": "string",
            "nullable": true,
            "maxLength": 255
          },
          "port": {
            "type": "integer",
            "nullable": true
          },
          "encryption": {
            "type": "string",
            "nullable": true
          },
          "username": {
            "type": "string",
            "maxLength": 255
          },
          "password": {
            "type": "string",
            "maxLength": 255
          },
          "from_address": {
            "type": "string",
            "format": "email",
            "maxLength": 255
          },
          "from_name": {
            "type": "string",
            "maxLength": 255
          }
        },
        "required": [
          "provider",
          "username",
          "password",
          "from_address",
          "from_name"
        ]
      },
      "PostEntryexitDurationPricesStoreRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "price_type": {
            "type": "string"
          },
          "duration_minutes": {
            "type": "integer",
            "minimum": 1,
            "maximum": 4320
          },
          "price": {
            "type": "number",
            "minimum": 0,
            "maximum": 999999
          },
          "is_active": {
            "type": "boolean",
            "nullable": true
          },
          "sort_order": {
            "type": "integer",
            "nullable": true,
            "minimum": 0,
            "maximum": 9999
          }
        },
        "required": [
          "price_type",
          "duration_minutes",
          "price"
        ]
      },
      "PostEntryexitGuardianVerificationStoreRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "entry_exit_log_id": {
            "type": "string"
          },
          "mode": {
            "type": "string"
          },
          "verification_code": {
            "type": "string",
            "nullable": true,
            "maxLength": 20
          },
          "verified_by": {
            "type": "string",
            "maxLength": 255
          }
        },
        "required": [
          "entry_exit_log_id",
          "mode",
          "verified_by"
        ]
      },
      "PostEntryexitOvertimeSettlementsRazorpayOrderRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "required": [
          "id"
        ]
      },
      "PostEntryexitOvertimeSettlementsRazorpayVerifyRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          },
          "razorpay_order_id": {
            "type": "string",
            "maxLength": 255
          },
          "razorpay_payment_id": {
            "type": "string",
            "maxLength": 255
          },
          "razorpay_signature": {
            "type": "string",
            "maxLength": 255
          }
        },
        "required": [
          "id",
          "razorpay_order_id",
          "razorpay_payment_id",
          "razorpay_signature"
        ]
      },
      "PostEntryexitOvertimeSettlementsStoreRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          },
          "payment_mode": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "payment_mode"
        ]
      },
      "PostEntryexitPassesMarkOvertimePaidRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          },
          "payment_mode": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "payment_mode"
        ]
      },
      "PostEntryexitPassesMarkPaidRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "payment_mode": {
            "type": "string"
          }
        },
        "required": [
          "ids",
          "payment_mode"
        ]
      },
      "PostEntryexitPassesRazorpayOrderRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "ids"
        ]
      },
      "PostEntryexitPassesRazorpayVerifyRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "razorpay_order_id": {
            "type": "string",
            "maxLength": 255
          },
          "razorpay_payment_id": {
            "type": "string",
            "maxLength": 255
          },
          "razorpay_signature": {
            "type": "string",
            "maxLength": 255
          }
        },
        "required": [
          "ids",
          "razorpay_order_id",
          "razorpay_payment_id",
          "razorpay_signature"
        ]
      },
      "PostEntryexitPassesRecordPrintRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "ids"
        ]
      },
      "PostEntryexitPassesScanEntryRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "scan_token": {
            "type": "string",
            "maxLength": 255
          }
        },
        "required": [
          "scan_token"
        ]
      },
      "PostEntryexitPassesScanExitRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "scan_token": {
            "type": "string",
            "maxLength": 255
          }
        },
        "required": [
          "scan_token"
        ]
      },
      "PostEntryexitPassesStoreRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "location_id": {
            "type": "string"
          },
          "phone": {
            "type": "string",
            "nullable": true,
            "maxLength": 30
          },
          "customer_id": {
            "type": "string",
            "nullable": true
          },
          "customer_name": {
            "type": "string",
            "nullable": true,
            "maxLength": 191
          },
          "child_name": {
            "type": "string",
            "nullable": true,
            "maxLength": 191
          },
          "child_names": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "child_count": {
            "type": "integer",
            "nullable": true,
            "minimum": 0,
            "maximum": 20
          },
          "parent_id": {
            "type": "string",
            "nullable": true
          },
          "child_ids": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "hours": {
            "type": "integer",
            "minimum": 1,
            "maximum": 72
          },
          "duration_minutes": {
            "type": "integer",
            "minimum": 1,
            "maximum": 4320
          },
          "duration_price_id": {
            "type": "string",
            "nullable": true
          },
          "booking_id": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "location_id"
        ]
      },
      "PostHrPayrollLeavesStoreRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "from_date": {
            "type": "string",
            "format": "date"
          },
          "to_date": {
            "type": "string",
            "format": "date"
[...]
